* {
    font-family: roboto;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: max-content;
    margin: auto;
    background-color: cyan;
    padding: 20px 15px;
    margin-top: 120px;
    border-radius: 10px;
    box-shadow: 10px 11px black;
  }
  
  h1 {
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .login-form {
    padding: 5px;
  }
  
  .form-field {
    display: inline-block;
    padding: 5px;
    margin-top: 20px;
  }
  
  .form-error {
    display: block;
    color: red;
    font-weight: 600;
  }
  
  button {
    margin: 20px 0;
    padding: 5px 10px;
  }
  